<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.panda.business.admin.modules.monitor.service.repository.SysActionLogMapper">
    <resultMap id="baseLogMap" type="org.panda.business.admin.modules.monitor.service.entity.SysActionLog">
        <id column="log_id" property="id" jdbcType="BIGINT"/>
        <result column="action_type" property="actionType" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="host" property="host" jdbcType="VARCHAR"/>
        <result column="ip_address" property="ipAddress" jdbcType="VARCHAR"/>
        <result column="identity" property="identity" jdbcType="VARCHAR"/>
        <result column="operating_time" property="operatingTime" jdbcType="TIMESTAMP"/>
        <result column="elapsed_time" property="elapsedTime" jdbcType="INTEGER"/>
        <result column="status_code" property="statusCode" jdbcType="INTEGER"/>
        <result column="exception_info" property="exceptionInfo" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="logColumns"> action_type, content, `host`, `ip_address`, `identity`, operating_time, elapsed_time, status_code, exception_info </sql>

    <delete id="truncateLog">
        truncate table sys_action_log
    </delete>

    <!-- '<='替换&lt;= '>='替换&gt;= -->
    <delete id="deleteLogByTime">
        delete from sys_action_log where operating_time &lt; NOW() - INTERVAL #{intervalDay} DAY
    </delete>
</mapper>
